# Ambiente virtual
venv/
ENV/
env/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Arquivos temporários
*.log
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db

# Docker
*.env
docker-compose.override.yml
